*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
    
}
#header{
    margin-left: 1rem;
}
.header{
    margin-left: 1rem;
    margin-top: 5rem;
}
nav {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(52, 123, 207, 1) 100%);
    height: 30vh;
    width: 20vh;
    min-width: 100%;
    display: grid;
    grid-column: 1/2;
    grid-row: 1;
    text-align: center;
    align-items: center;
    float: left;
    box-shadow: -10px 5px 5px black;
    border: #151127 1px solid;
}

a {
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a:before,
a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #18f08b;
    transition: 0.5s;
    box-shadow: -10px 5px 5px black;
}

a:after {
    left: 0;
    bottom: -10px;
    box-shadow: -10px 5px 5px black;
}

a:before {
    right: 0;
    top: -10px;
}

a:hover {
    color: #ffffff;
}

a:hover:after,
a:hover:before {
    width: 100%;
}

.container {
    display: grid;

    grid-template-rows: 4rem auto 45px;
    grid-template-columns: 16rem auto 1fr 1fr;

    gap: 3px;
    height: 100%;

}


body {

    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(52, 123, 207, 1) 100%);
}


#item0 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(255, 118, 206, 1) 0%, rgba(52, 185, 207, 1) 100%);
    border: black 1px solid;
    color: #ffffff;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    box-shadow: 10px 5px 5px black;
}

#item1 {
    min-height: 50vh;
    box-shadow: -10px 5px 5px black;
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;

}

#item2 {
    box-shadow: 10px 5px 5px black;
    min-height: 75vh;
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
    background: rgb(52, 185, 207);
    background: linear-gradient(90deg, rgba(52, 185, 207, 1) 0%, rgba(255, 118, 206, 1) 100%);
    border: black 2px solid;

}

#item3 {
    height: 100%;
    background-color: #151127;
    grid-row-start: 3;
    grid-column-start: 2;
    list-style: none;
    grid-row-end: 4;
    grid-column-end: 3;

}

.footerNavInner {
    box-shadow: 10px 5px 5px black;
    display: flex !important;
    list-style: none;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    height: 10vh !important;
    align-items: center;
}


footer {
    max-height: 200px;
    list-style: none;
    line-height: 2em;
    background-color: #151127;
}

footer ul {

    flex-direction: row !important;
    display: inline-grid !important;
    grid-auto-flow: row !important;
    /*  grid-gap: 24px !important; */
    justify-items: center !important;
    margin: auto;

}

.author-img {
    padding-top: 15vh;
    padding-left: 40vh;
}

.author-img img {
    border-radius: 50%;
    max-width: 150px;

}
section  > p{
    margin-left: 5rem;
    font-size: 1.1rem;
    max-width: 50%;
    background-color: pink;
    border: 1px #222 solid;
    color: #222;
}
.section2{
   background-color:rgba(255, 118, 206, 0.8);
}
